<div class="container">
  <%= render @consultation %>

  <div>
    <%= link_to "Edit this consultation", edit_consultation_path(@consultation) %><br>
    <%= link_to "Back to consultations", consultations_path %>

    <%= button_to "Destroy this consultation", @consultation, method: :delete %>
  </div>
</div>
